<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Donativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 2vh;">
    <form style="margin: 3vh !important;">
      <!-- <ion-item lines="full">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input id="input1" name="input1" required [(ngModel)]="user.user_name"></ion-input>
      </ion-item> -->

      <!-- <ion-item lines="full">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item> -->

      <ion-item lines="full">
        <ion-label position="floating">Correo</ion-label>
        <ion-input id="donativo_name" name="donativo_name" required #email></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label [(ngModel)]="product.donativo_cantidad" position="floating">Contraseña</ion-label>
        <ion-input id="donativo_cantidad" name="donativo_cantidad"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" (click)="newProduct()">Registrarse</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>
