<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Donativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 2vh;">
    <form style="margin: 3vh !important;">

      <ion-item lines="full">
        <ion-label position="floating">Nombre del donante</ion-label>
        <ion-input id="input1" name="input1" [(ngModel)]="product.donativo_donante"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Cedula del donante</ion-label>
        <ion-input id="input2" name="input2" [(ngModel)]="product.donativo_cedula"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input id="input2" name="input2" [(ngModel)]="product.donativo_name"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input id="input3" name="input3" [(ngModel)]="product.donativo_cantidad"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" (click)="addProduct(product)">Donar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>
