<ion-header>
  <ion-toolbar>
      <ion-title>Donaciones </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
      <ion-list-header>
          Donaciones
      </ion-list-header>
      <ion-item *ngFor="let producto of prod |async; ">

          <ion-label>
              <h3 style="color: rgb(26, 236, 71)"> Total:  ${{producto.donativo_cantidad}}</h3>
              <p style="color: rgb(26, 236, 71)">Descripcion: {{producto.donativo_name}}</p>


          </ion-label>

      </ion-item>
  </ion-list>
</ion-content>
