<ion-header>
  <ion-toolbar>
    <ion-title>Nosotros Somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <div class="ion-text-center" style="margin-top: 10vh;">
      <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 35px;">¿Quiénes Somos?</h1>
    </div>
    <ion-card style="padding: 2vh;">
      <span>
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
        to use a passage of Lorem Ipsum, </span>
    </ion-card>


  </ion-grid>
</ion-content>
